/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 5 version
*/
html {
    font-size: 14px;
}
container {
	min-width: 300px;
}

.tooltip-inner {
	background-color: red;
}

.arrow::before {
	border-bottom-color: red !important;
}

.navbar-item > a {
	font-size: 24px;
	color: grey;
}

.navbar-logo {
	font-size: 20px;
	text-transform: uppercase;
}

h1 {
	font-size: 20px;
	background-blend-mode: normal;
}

.red { 
	color: red;
}

.slide .carousel-indicators {
	top: 0;
	left: 30px;
	bottom: 0;
	margin: 0;
	right: auto;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}

.slide .carousel-indicators li {
	width: 15px;
	height: 15px;
	transition: transform .3s;
	margin-bottom: 20px;
	background-color: red;
	border-radius: 50%;
}
.slide .carousel-indicators li:last-child {
	margin-bottom: 0;
}
.slide .carousel-indicators li.active {
	transform: scale(1.2);
	background-color: white;
}

.slide .carousel-control-prev, .slide .carousel-control-next {
	z-index: 5;
}
.c-carousel-item {
	overflow: hidden;
	height: 200px;
}

.c-img-responsive {
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.movie-card {
	width: 200px;
	height: 220px;
	overflow: hidden;
	color: #fff;
	margin-bottom: 30px;
	background-origin: border-box;
	background-position: center top;
	background-size: cover;
	background-color: #3f444e;
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	border-radius: 10px;
	-webkit-box-shadow:0 0 0 4px  inset transparent;
	        box-shadow:0 0 0 4px  inset transparent;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.movie-card:hover {
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	-webkit-box-shadow:0 0 0 4px  inset red;
	        box-shadow:0 0 0 4px  inset red;
	background-color: transparent;
	background-blend-mode: overlay;
} 	

.movie-card > div:last-child {
	font-weight: bold;
	font-size: 14px;
}

.descript > ul {
	padding: 4px 4px 8px 4px ;
	border: 4px solid white;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.movie-card:hover .descript > ul {
	border: 4px solid red;
	border-bottom: none;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.downld {
	display: block;
	background-color: transparent;
	border: none;
	color: #fff;
	border-bottom-left-radius: 5px;
	font-size: 17px;
	line-height: 1;
	text-align: center;
	width: 37px;
	height: 37px;
	padding: 10px;
	-webkit-transition: 1s all;
	-o-transition: 1s all;
	transition: 1s all;
}



.downld:focus {
	background-color: red;
}

.movie-card:hover .downld {
	background-color: red;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}

.play-btn {
	display: block;
	background-color: teal;
	border: none;
	color: #fff;
	font-size: 17px;
	text-align: center;
	line-height: 1;
	width: 37px;
	height: 37px;
	border-bottom-left-radius: 5px;
	padding: 10px;
	-webkit-transition: 1s all;
	-o-transition: 1s all;
	transition: 1s all;
	right: 0; 
	top: 0;
}


.movie-card:hover .play-btn {
	background-color: red;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.content-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	justify-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding-top: 30px;
	padding-bottom: 30px; 
}

.card-span-row {
	grid-row: auto;
	height: 220px;
	background-size: 140%;
	background-position: center 120px;
}

.card-span-col {
	grid-column: auto;
	width: 200px;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	html {
	    font-size: 16px;
	}
	.content-card {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -ms-grid;
		display: grid;
		grid-gap: 30px;
		-ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: row dense;
		grid-template-rows: 220px;
		grid-auto-rows: 220px;
	} 
	.movie-card {
		margin-bottom: 0;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.card-span-row {
		-ms-grid-row-span: 2;
		grid-row: span 2;
		height: 470px;
	}
	.c-carousel-item {
		overflow: hidden;
		height: 300px;
	}
	.card-span-col {
		-ms-grid-column-span: 2;
		grid-column: span 2;
		width: 440px;
	}
	.content-card {
		-ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.c-carousel-item {
		overflow: hidden;
		height: 400px;
	}
	.content-card {
		-ms-grid-rows: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	} 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.c-carousel-item {
		overflow: hidden;
		height: 500px;
	}
	
	.content-card {
		display: -ms-grid;
		display: grid; 
		-ms-grid-rows: 1fr 1fr 1fr; 
		/*grid-template-rows: 1fr 1fr 1fr;*/
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-auto-flow: row dense;
		grid-template-rows: 220px;
		grid-auto-rows: 220px;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {.content-card{display: flex;}.card-span-row{height: 220px;}.card-span-col{width:200px;}}